* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

@keyframes animateout {  /**Animation for whenever a thing is rendered out of UI**/
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/**Navigation bar**/

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(55, 107, 203);
    color: white;
    justify-content: center;
}

.logo {  /**Logo div**/
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p {  /**Main heading p tag**/
    font-size: 1.9rem;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
}

.p::after {  /**For adding a dot after p tag main heading**/
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 97px;
    background-color: white;
}

/**Login/Signup**/

.main-heading {  /**Main heading meassage for login/signup**/
    text-align: center;
    color: purple;
    font-weight: bolder;
    font-size: 1.7rem;
    margin-top: 3%;
}

.login-signup-container {  /**Container for login/signup**/
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-signup-div {  /**Div containing login/signup content**/
    height: 40vh;
    width: 30%;
    background-color: black;
    color: wheat;
    padding: 2% 1% 1% 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.login-signup-div p {  /**Main heading**/
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

.username , .password {  /**Username & password inputs**/
    padding: 1%;
    border: 2px solid white;
    outline: none;
    margin-top: 3%;
    border-radius: 5px;
}

.login-signup-btns {  /**Div containing login/signup buttons**/
    height: 30%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Login-btn , .signup-btn {  /**Buttons for login/signup**/
    padding: 4%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    background-color: wheat;
    color: black;
}

.Login-btn:hover , .signup-btn:hover {  /**For onhover on signup/login buttons**/
    border: 2px solid wheat;
    background-color: black;
    color: wheat;
    transition: 0.3s;
}

/**Footer**/

footer {  /**Footer tag**/
    height: 16.5vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    position: absolute;
    bottom: 0px;
}

footer {  /**Footer tag without position absolute for pages other then login/signup**/
    height: 16.5vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.footer-main , .footer-contact {  /**Lines written in footer**/
    color: wheat;
    text-align: center;
    margin-bottom: 2%;
}

strong {  /**For bolding creator name**/
    color: black;
}

.contact-images-div {  /**Div for contacts images**/
    display: flex;
    justify-content: center;
    gap: 3%;
}
                        /**Images styling**/
.instagram-img , .facebook-img , .linkedin-img {
    height: 25px;
}

.facebook-img {
    border-radius: 50%;
}

.instagram-img {
    border-radius: 12px;
}
                    /**Media querries for login/signup page**/
@media (max-width : 800px) {
    .login-signup-container {
        height: 50vh;
    }
    .login-signup-div {
        width: 80%;
        padding: 3%;
    }
}

@media (max-width : 400px) {
    .login-signup-container {
        height: 30vh; 
        margin-top: 20%;
    }
    .login-signup-btns {
        margin-top: 13%;
    }
    .Login-btn , .signup-btn {
        padding: 6%;
    }
}

/**Main Section**/

.main-section {  /**Main page main container**/
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-section-divs {  /**Divs of main container**/
    height: 450px;
    max-width: 30%;
    min-width: 300px;
    padding: 3%;
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 5px 5px 10px gray;
}

.main-section-divs-head {  /**Main headings of cards**/
    text-align: center;
    font-weight: bolder;
    color: brown;
    font-size: 1.6rem;
}

.Train-img {  
    height: 152px;
    width: 100%;
    margin-top: 3%;
    border-radius: 12px;
}

.Cinema-img {
    width: 100%;
    height: 155px;
    margin-top: 3%;
    border-radius: 12px;
}

.Hotel-img {
    width: 100%;
    height: 156px;
    margin-top: 3%;
    border-radius: 12px;
}

.Main-section-divs-paras {  /**Paras of each main card**/
    font-weight: bolder;
    margin-top: 13%;
    color: gray;
}

.main-div-book-btn-div {  /**Div for booking button**/
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-div-book-btn-div button {  /**Button for ordering**/
    background-color: rgb(229, 229, 229);
    color: purple;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.1rem;
}

.Account-btn {  /**Button for account**/
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 120px;
    cursor: pointer;
    border-radius: 50%;
}

.Account-img {  /**Image of account**/
    height: 50px;
}