* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/**Navigation bar**/

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #03c2fc;
    color: white;
    justify-content: center;
}

.logo {  /**Logo div**/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1.3;
}

.logo p {  /**Main heading p tag**/
    font-size: 1.9rem;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
}

.p::after {  /**For adding a dot after p tag main heading**/
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 97px;
    background-color: white;
}

.nav-btns {  /**Navigation bar buttons div**/
    flex-grow: 1.7;
    display: none;  /**When login/Signup succesfull then show buttons**/
    align-items: center;
    justify-content: space-evenly;
}

.nav-btns button {  /**Navigation bar buttons**/
    background-color: #03c2fc;
    color: white;
    font-weight: bolder;
    padding: 1%;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.nav-btns button:hover {  /**For hover on navigation bar buttons**/
    transform: scale(1.2);
    transition: 0.3s;
}